.detail-event-div {
    box-shadow: 0 0 15px #4274cb inset;
    margin: 5px;
    height: 100%;
    padding: 10px;
	position: relative;
}

.videoSource{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: none;
}

.close2{
	float: right;
	display: none;
	cursor: pointer;
}

.event-class {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.event-class>li {
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.event-class>li a{
	color: inherit;
	text-underline: none;
}
.li-selected {
    background: #3767cc;
}

.detial-input {
    display: flex;
    flex-direction: row-reverse;
}

.detial-input>div {
    width: 250px;
    margin-right: 30px;
    display: flex;
}

.detial-input>div>input {
    /* width: 100px; */
    border: 1px solid #1E9FFF;
    background: transparent;
    color: white;
    border-radius: 0;
}

.detial-icon {
    border-top: 1px solid #1E9FFF;
    border-right: 1px solid #1E9FFF;
    border-bottom: 1px solid #1E9FFF;
    font-size: 30px;
    color: #1E9FFF;
}

tr {
    background-color: transparent !important;
}

tr:hover {
    background-color: #1E9FFF !important;
}

.layui-table {
    color: white;
}

.layui-table-header {
    background-color: transparent;
    box-shadow: 0 0 15px #4274cb inset;
    border: none;
}

thead {
    height: 50px;
}

thead>tr:hover {
    background-color: transparent !important;
}

.layui-table-view {
    border: none;
}

.layui-table-page {
    margin-top: 20px;
    border: none;
}

#layui-table-page1 {
    text-align: center;
}

.active_video{
    color: red!important;
}
.active_btn{
    background-color:#013F88;
    padding: 4px 10px;
}
.underline{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #2CA5E5;
    display: block;
}

.layui-table-page > div {
    text-align: center;
}

.layui-table-view .layui-table td, .layui-table-view .layui-table th{
    text-align: center;
}

.current_video_title {
    display: flex;
    justify-content:space-between;
}

.current_video_title td{
    width: 33.3%;
}

.current_video_title td div{
    text-align: center;
    padding: 0;
}

.layui-layer-loading {
    left: 25%!important;
    opacity: 0.3;
    
}
.layui-layer-loading .layui-layer-loading1{
    width: 100px!important;
    height: 100px!important;
    background-size: 100% 100%!important;
}
.close_box{
    height: 80px;
    line-height: 80px;
}