html
{
    width: 100%;
    height:100%;
}
body
{
    font-size: 16px;
    color: #fffafd;
    width: 100%;
    height: 100%;
    background: url("../images/BackgroundImage.jpg")no-repeat;
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size:100% 100%;
    background-size:100% 100%;
    background-position: 50%;
    transform-origin: left top;
}
.containers
{
    height:100%;
    width: 100%;
    position: relative;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}


/*------------------------头部------------------*/
.head{
    width: 100%;
    height: 10%;
    background: url("../images/title.png")no-repeat;
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size:100% 100%;
    background-size:100% 100%;
    background-position: 50%;
    transform-origin: left top;
    position: relative;
    overflow:auto
}
.title{
    top: 20%;
    left: 45%;
    position: absolute;
    width: 10%;
}
.title>span{
    margin: 30%;
    font-size: 2.2rem;
    background-image:-webkit-linear-gradient(bottom, #89fff4, #fbfdf7);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    letter-spacing: 10px;
}

/*------------------------左边内容-------------------*/
.left{
    width: 15%;
    height: 90%;
    background: #040F35;
    position: relative;
    overflow-x:hidden;

}
.text{
   padding-top: 10%;
    margin-bottom: 10%;
}
.text_2{
    margin-top: 5%;
    margin-bottom: 5%;

}
.text_1{
    margin-top: 5%;
    margin-bottom: 10%;
}
.text_3{
    margin-top: 2%;
}
.size{
   margin-right: 40%;
    font-size: 1.1rem;
}
.Magnifier{
    top: 3.5%;
    position: absolute;
    left: 80%;
}
.gear{
    margin-left: 3%;
}
.gear>img{
    padding-bottom: 10px;
}
.gear_1{
    display:block;
}
.gear_1>img{
    padding-bottom: 10px;
}
.height{
     width: 100%;
    height: 200px;
    overflow:auto
}
.height img{
   margin-left: 25px;
    width: 10%;
    height: 10%;
}
.height a{
    margin-left: 20px;
    font-size: 1rem;
}
.height li:hover {
     background: aliceblue;
 }
.span_1{
    margin-left: 5%;
    font-size: 1.5rem;
}
.caret_1{
    position: absolute;
    top: 30%;
    left: 10%;
}
.caret_2{
    position: absolute;
    top: 25%;
    left: 20%;
    font-size: 1rem;
}
/*------------------------右边内容-------------------*/
.right0{
    position: absolute;
    top: 10%;
    left: 15%;
    height: 90%;
    width: 85%;
}
iframe{
    height: 99.1%;
    width: 100%
}



@media (max-width: 768px) {
    .head{
        height: 8%;
    }
    .title{
        top: 15%;
        left: 39%;
        width: 30%;
    }
    .title>span{
        font-size: 30px;
    }
    .left{
        width: 15%;
        height: 92%;
        background: #040F35;
        position: relative;

    }




@media (max-width: 400px) {
    .title>span{
        font-size: 20px;
    }

    .title{
        top: 23%;

    }
}




























}


